body {
    background-image: url("background/black.jpg");
}
.navbar-fixed-top {
    padding-top: 20px;
}
.navigation {
    list-style: none;
    padding-left: 0; 
    text-align: center;
}
.navigation li {
    font-size: 18px;
    font-family: cursive;
    display: inline-block;
    padding-left: 20px;
    padding-right: 10px;
}   
.navigation a {
    text-decoration: none;
    color: #fff; 
}
.navigation a:hover {
    text-decoration: none;
    font-family: cursive;
    color: #761c19;
    border: 3px solid #761c19;
    border-radius: 50px;
    padding: 5px 5px 5px 5px;
}
#log-in {
    font-family: cursive;
    font-size: 15px;
    color: #fff;
}
.navbar-header {
    font-family: cursive;
    font-size: 20px;
    color: #fff;
    margin-left: 50px;
}
#text{
    margin-top: 100px;
    color: #fff;
}
.jumbotron{
    opacity: 0.5;
    margin-top: 75px;
}