.navbar-fixed-top {
    padding-top: 20px;
}
.navigation {
    list-style: none;
    padding-left: 0; 
    text-align: center;
}
.navigation li {
    font-size: 18px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 10px;
    font-family: monospace;
}   
.navigation a {
    text-decoration: none;
    color: #fff; 
}
.navigation a:hover {
    text-decoration: none;
    color: #761c19;
    border: 3px solid #761c19;
    border-radius: 50px;
    padding: 5px 5px 5px 5px;
}
#log-in {
    color: #fff;
}

.navbar-header {
    font-family: speedbrush;
    font-size: 25px;
    color: #fff;
    margin-top: 3px;
    margin-left: 80px;
}
